// @font-face {
//   font-family: "lbet-ban";
//   src: url(../public/fonts/LBetBannerMt-Bold.woff2) format("woff2"),
//     url(../public/fonts/LBetBannerMt-Bold.woff) format("woff");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "lbet-ban";
//   src: url(../public/fonts/LBetBannerMt-Black.woff2) format("woff2"),
//     url(../public/fonts/LBetBannerMt-Black.woff) format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "lbet-mt";
  src: url(../fonts/LBetSTDMT-Medium.woff2) format("woff2"),
    url(../public/fonts/LBetSTDMT-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "lbet-mt";
//   src: url(../public/fonts/LBetSTDMT-Bold.woff2) format("woff2"),
//     url(../public/fonts/LBetSTDMT-Bold.woff) format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "lbet-std";
  src: url(../fonts/LBetSTDNus-Light.woff2) format("woff2"),
    url(../public/fonts/LBetSTDNus-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "lbet-std";
  src: url(../fonts/LBetSTDNus-Medium.woff2) format("woff2"),
    url(../public/fonts/LBetSTDNus-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "lbet-std";
//   src: url(../public/fonts/LBetSTDNus-Bold.woff2) format("woff2"),
//     url(../public/fonts/LBetSTDNus-Bold.woff) format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }
