@import "partials/mixins";

.sport_navList_section {
  position: relative;
  padding: 1.565rem 1.3125rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .sport_item {
    position: relative;
    width: 49%;
    height: 8.625rem;
    margin-bottom: 1.25rem;
    padding-left: 1.9rem;
    display: flex;
    align-items: center;
    font-family: "lbet-mt";
    border-radius: 0.625rem;
    background-color: #33353d;
    line-height: 1.3;
    overflow: hidden;
    &:last-child {
      width: 100%;
      margin-bottom: 0px;
      justify-content: center;
    }
    .sport_item_icon {
      display: flex;
      align-items: center;
      width: 4rem;

      margin-right: 1.8125rem;
    }

    p {
      font-size: 2rem;
    }
    &.new {
      &::before {
        position: absolute;
        content: "new";
        width: 11rem;
        height: 2.165rem;
        top: 1.5rem;
        right: -3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 1.5rem;
        background-color: #ff145c;
        text-transform: uppercase;
        transform: rotate(45deg);
      }
    }
  }
}
// .sport_item[data-page="sport"] .sport_item_icon {
//   background: url("/img/Component\ 11\ –\ 22.svg");
// }

// .sport_item[data-page="slots"] .sport_item_icon {
//   background: url("/img/Component\ 31\ –\ 1.svg");
// }

// .sport_item[data-page] .sport_item_icon {
//   width: 50px;
//   height: 80%;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: 22px;
// }
